#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it under the
#  terms of the GNU Lesser General Public License as published by the Free
#  Software Foundation; either version 2.1 of the License, or (at your option)
#  any later version.
#
# Entries in this file show the compile time defaults. Local configuration
# should be created by either modifying this file, or by creating "drop-ins" in
# the system.conf.d/ subdirectory. The latter is generally recommended.
# Defaults can be restored by simply deleting this file and all drop-ins.
#
# Use 'systemd-analyze cat-config systemd/system.conf' to display the full config.
#
# See systemd-system.conf(5) for details.

[Manager]
{% if systemd_system.log_level is defined and
      systemd_system.log_level | string | length > 0 and
      systemd_system.log_level in ["emerg", "alert", "crit", "err", "warning", "notice", "info", "debug"] %}
LogLevel                        = {{ systemd_system.log_level }}
{% endif %}
{% if systemd_system.log_target is defined and
      systemd_system.log_target | string | length > 0 %}
LogTarget                       = {{ systemd_system.log_target }}
{% endif %}
{% if systemd_system.log_color is defined and
      systemd_system.log_color | string | length > 0 %}
  {% if systemd_system.log_color | bodsch.core.type == "bool" %}
LogColor                      = {{ systemd_system.log_color | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
{% endif %}
{% if systemd_system.log_location is defined and
      systemd_system.log_location | string | length > 0 %}
  {% if systemd_system.log_location | bodsch.core.type == "bool" %}
LogLocation                   = {{ systemd_system.log_location | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
{% endif %}
{% if systemd_system.log_time is defined and
      systemd_system.log_time | string | length > 0 %}
  {% if systemd_system.log_time | bodsch.core.type == "bool" %}
LogTime                       = {{ systemd_system.log_time | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
{% endif %}
{% if systemd_system.dump_core is defined and
      systemd_system.dump_core | string | length > 0 %}
DumpCore                      = {{ systemd_system.dump_core | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if systemd_system.show_status is defined and
      systemd_system.show_status | string | length > 0 %}
ShowStatus                    = {{ systemd_system.show_status | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if systemd_system.crash_change_vt is defined and
      systemd_system.crash_change_vt | string | length > 0 %}
CrashChangeVT                 = {{ systemd_system.crash_change_vt | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if systemd_system.crash_shell is defined and
      systemd_system.crash_shell | string | length > 0 %}
CrashShell                    = {{ systemd_system.crash_shell | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if systemd_system.crash_reboot is defined and
      systemd_system.crash_reboot | string | length > 0 %}
CrashReboot                   = {{ systemd_system.crash_reboot | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if systemd_system.ctrl_alt_del_burst_action is defined and
      systemd_system.ctrl_alt_del_burst_action | string | length > 0 %}
CtrlAltDelBurstAction         = {{ systemd_system.ctrl_alt_del_burst_action }}
{% endif %}
{% if systemd_system.cpu_affinity is defined and
      systemd_system.cpu_affinity | string | length > 0 %}
CPUAffinity                   = {{ systemd_system.cpu_affinity }}
{% endif %}
{% if systemd_system.numa_policy is defined and
      systemd_system.numa_policy | string | length > 0 %}
NUMAPolicy                    = {{ systemd_system.numa_policy }}
{% endif %}
{% if systemd_system.numa_mask is defined and
      systemd_system.numa_mask | string | length > 0 %}
NUMAMask                      = {{ systemd_system.numa_mask }}
{% endif %}
{% if systemd_system.runtime_watchdog_sec is defined and
      systemd_system.runtime_watchdog_sec | string | length > 0 %}
RuntimeWatchdogSec            = {{ systemd_system.runtime_watchdog_sec }}
{% endif %}
{% if systemd_system.runtime_watchdog_pre_sec is defined and
      systemd_system.runtime_watchdog_pre_sec | string | length > 0 %}
RuntimeWatchdogPreSec         = {{ systemd_system.runtime_watchdog_pre_sec }}
{% endif %}
{% if systemd_system.runtime_watchdog_pre_governor is defined and
      systemd_system.runtime_watchdog_pre_governor | string | length > 0 %}
RuntimeWatchdogPreGovernor    = {{ systemd_system.runtime_watchdog_pre_governor }}
{% endif %}
{% if systemd_system.reboot_watchdog_sec is defined and
      systemd_system.reboot_watchdog_sec | string | length > 0 %}
RebootWatchdogSec             = {{ systemd_system.reboot_watchdog_sec }}
{% endif %}
{% if systemd_system.kexec_watchdog_sec is defined and
      systemd_system.kexec_watchdog_sec | string | length > 0 %}
KExecWatchdogSec              = {{ systemd_system.kexec_watchdog_sec }}
{% endif %}
{% if systemd_system.watchdog_device is defined and
      systemd_system.watchdog_device | string | length > 0 %}
WatchdogDevice                = {{ systemd_system.watchdog_device }}
{% endif %}
{% if systemd_system.capability_bounding_set is defined and
      systemd_system.capability_bounding_set | string | length > 0 %}
CapabilityBoundingSet         = {{ systemd_system.capability_bounding_set }}
{% endif %}
{% if systemd_system.no_new_privileges is defined and
      systemd_system.no_new_privileges | string | length > 0 %}
NoNewPrivileges               = {{ systemd_system.no_new_privileges | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if systemd_system.system_call_architectures is defined and
      systemd_system.system_call_architectures | string | length > 0 %}
SystemCallArchitectures       = {{ systemd_system.system_call_architectures }}
{% endif %}
{% if systemd_system.timer_slack_nsec is defined and
      systemd_system.timer_slack_nsec | string | length > 0 %}
TimerSlackNSec                = {{ systemd_system.timer_slack_nsec }}
{% endif %}
{% if systemd_system.status_unit_format is defined and
      systemd_system.status_unit_format | string | length > 0 %}
StatusUnitFormat              = {{ systemd_system.status_unit_format }}
{% endif %}
{% if systemd_system.default_timer_accuracy_sec is defined and
      systemd_system.default_timer_accuracy_sec | string | length > 0 %}
DefaultTimerAccuracySec       = {{ systemd_system.default_timer_accuracy_sec }}
{% endif %}
{% if systemd_system.default_standard_output is defined and
      systemd_system.default_standard_output | string | length > 0 %}
DefaultStandardOutput         = {{ systemd_system.default_standard_output }}
{% endif %}
{% if systemd_system.default_standard_error is defined and
      systemd_system.default_standard_error | string | length > 0 %}
DefaultStandardError          = {{ systemd_system.default_standard_error }}
{% endif %}
{% if systemd_system.default_timeout_start_sec is defined and
      systemd_system.default_timeout_start_sec | string | length > 0 %}
DefaultTimeoutStartSec        = {{ systemd_system.default_timeout_start_sec }}
{% endif %}
{% if systemd_system.default_timeout_stop_sec is defined and
      systemd_system.default_timeout_stop_sec | string | length > 0 %}
DefaultTimeoutStopSec         = {{ systemd_system.default_timeout_stop_sec }}
{% endif %}
{% if systemd_system.default_timeout_abort_sec is defined and
      systemd_system.default_timeout_abort_sec | string | length > 0 %}
DefaultTimeoutAbortSec        = {{ systemd_system.default_timeout_abort_sec }}
{% endif %}
{% if systemd_system.default_device_timeout_sec is defined and
      systemd_system.default_device_timeout_sec | string | length > 0 %}
DefaultDeviceTimeoutSec       = {{ systemd_system.default_device_timeout_sec }}
{% endif %}
{% if systemd_system.default_restart_sec is defined and
      systemd_system.default_restart_sec | string | length > 0 %}
DefaultRestartSec             = {{ systemd_system.default_restart_sec }}
{% endif %}
{% if systemd_system.default_start_limit_interval_sec is defined and
      systemd_system.default_start_limit_interval_sec | string | length > 0 %}
DefaultStartLimitIntervalSec  = {{ systemd_system.default_start_limit_interval_sec }}
{% endif %}
{% if systemd_system.default_start_limit_burst is defined and
      systemd_system.default_start_limit_burst | string | length > 0 %}
DefaultStartLimitBurst        = {{ systemd_system.default_start_limit_burst }}
{% endif %}
{% if systemd_system.default_environment is defined and
      systemd_system.default_environment | string | length > 0 %}
DefaultEnvironment            = {{ systemd_system.default_environment }}
{% endif %}
{% if systemd_system.default_limit_cpu is defined and
      systemd_system.default_limit_cpu | string | length > 0 %}
DefaultLimitCPU               = {{ systemd_system.default_limit_cpu }}
{% endif %}
{% if systemd_system.default_limit_fsize is defined and
      systemd_system.default_limit_fsize | string | length > 0 %}
DefaultLimitFSIZE             = {{ systemd_system.default_limit_fsize }}
{% endif %}
{% if systemd_system.default_limit_data is defined and
      systemd_system.default_limit_data | string | length > 0 %}
DefaultLimitDATA              = {{ systemd_system.default_limit_data }}
{% endif %}
{% if systemd_system.default_limit_stack is defined and
      systemd_system.default_limit_stack | string | length > 0 %}
DefaultLimitSTACK             = {{ systemd_system.default_limit_stack }}
{% endif %}
{% if systemd_system.default_limit_core is defined and
      systemd_system.default_limit_core | string | length > 0 %}
DefaultLimitCORE              = {{ systemd_system.default_limit_core }}
{% endif %}
{% if systemd_system.default_limit_rss is defined and
      systemd_system.default_limit_rss | string | length > 0 %}
DefaultLimitRSS               = {{ systemd_system.default_limit_rss }}
{% endif %}
{% if systemd_system.default_limit_nofile is defined and
      systemd_system.default_limit_nofile | string | length > 0 %}
DefaultLimitNOFILE            = {{ systemd_system.default_limit_nofile }}
{% endif %}
{% if systemd_system.default_limit_as is defined and
      systemd_system.default_limit_as | string | length > 0 %}
DefaultLimitAS                = {{ systemd_system.default_limit_as }}
{% endif %}
{% if systemd_system.default_limit_nproc is defined and
      systemd_system.default_limit_nproc | string | length > 0 %}
DefaultLimitNPROC             = {{ systemd_system.default_limit_nproc }}
{% endif %}
{% if systemd_system.default_limit_memlock is defined and
      systemd_system.default_limit_memlock | string | length > 0 %}
DefaultLimitMEMLOCK           = {{ systemd_system.default_limit_memlock }}
{% endif %}
{% if systemd_system.default_limit_locks is defined and
      systemd_system.default_limit_locks | string | length > 0 %}
DefaultLimitLOCKS             = {{ systemd_system.default_limit_locks }}
{% endif %}
{% if systemd_system.default_limit_sigpending is defined and
      systemd_system.default_limit_sigpending | string | length > 0 %}
DefaultLimitSIGPENDING        = {{ systemd_system.default_limit_sigpending }}
{% endif %}
{% if systemd_system.default_limit_msgqueue is defined and
      systemd_system.default_limit_msgqueue | string | length > 0 %}
DefaultLimitMSGQUEUE          = {{ systemd_system.default_limit_msgqueue }}
{% endif %}
{% if systemd_system.default_limit_nice is defined and
      systemd_system.default_limit_nice | string | length > 0 %}
DefaultLimitNICE              = {{ systemd_system.default_limit_nice }}
{% endif %}
{% if systemd_system.default_limit_rtprio is defined and
      systemd_system.default_limit_rtprio | string | length > 0 %}
DefaultLimitRTPRIO            = {{ systemd_system.default_limit_rtprio }}
{% endif %}
{% if systemd_system.default_limit_rttime is defined and
      systemd_system.default_limit_rttime | string | length > 0 %}
DefaultLimitRTTIME            = {{ systemd_system.default_limit_rttime }}
{% endif %}
{% if systemd_system.default_limit_msgqueue is defined and
      systemd_system.default_limit_msgqueue | string | length > 0 %}
DefaultLimitMSGQUEUE          = {{ systemd_system.default_limit_msgqueue }}
{% endif %}
{% if systemd_system.default_limit_nice is defined and
      systemd_system.default_limit_nice | string | length > 0 %}
DefaultLimitNICE              = {{ systemd_system.default_limit_nice }}
{% endif %}
{% if systemd_system.default_limit_rtprio is defined and
      systemd_system.default_limit_rtprio | string | length > 0 %}
DefaultLimitRTPRIO            = {{ systemd_system.default_limit_rtprio }}
{% endif %}
{% if systemd_system.default_memory_pressure_threshold_sec is defined and
      systemd_system.default_memory_pressure_threshold_sec | string | length > 0 %}
DefaultMemoryPressureThresholdSec = {{ systemd_system.default_memory_pressure_threshold_sec }}
{% endif %}
{% if systemd_system.default_memory_pressure_watch is defined and
      systemd_system.default_memory_pressure_watch | string | length > 0 %}
DefaultMemoryPressureWatch    = {{ systemd_system.default_memory_pressure_watch }}
{% endif %}
{% if systemd_system.default_oom_policy is defined and
      systemd_system.default_oom_policy | string | length > 0 %}
DefaultOOMPolicy              = {{ systemd_system.default_oom_policy }}
{% endif %}
{% if systemd_system.default_smack_process_label is defined and
      systemd_system.default_smack_process_label | string | length > 0 %}
DefaultSmackProcessLabel      = {{ systemd_system.default_smack_process_label }}
{% endif %}
{% if systemd_system.reload_limit_interval_sec is defined and
      systemd_system.reload_limit_interval_sec | string | length > 0 %}
ReloadLimitIntervalSec        = {{ systemd_system.reload_limit_interval_sec }}
{% endif %}
{% if systemd_system.reload_limit_burst is defined and
      systemd_system.reload_limit_burst | string | length > 0 %}
ReloadLimitBurst              = {{ systemd_system.reload_limit_burst }}
{% endif %}
